body{
    background-color: rgb(250, 247, 243);
    font-family:'Heebo', sans-serif ;
}
.nav-1{
    font-size:13px;
    font-family:'Heebo', sans-serif ;
}
.article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px;
    background-color: white;
    

}
.sectión__1{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.foto {
  display:flex;
  flex-direction: column;
  width: 450px;
}

.azul {
    background-image:url(/imagenes/azul.PNG);
    display: flex;
    align-items: center;
    text-align: center;
    background-size: 160px 28px;
    background-repeat: no-repeat;
    width: 154px;
    height: 28px;
    font-size: 11px;
    color: white;
}
.azul__p{
    padding:4px 8px;
}
.rojo {
    background-image:url(/imagenes/rojo.PNG);
    display: flex;
    background-size: 139.35px 28px;
    background-repeat: no-repeat;
    width: 133.35px;
    height: 28px;
    font-size: 11px;
    color: white;
    align-items: center;
}

.rojo__p{
    padding:4px 8px;
    width: 128px;
    height:13px ;

}
.imgt__1 img{
    position: relative;
    left: 100px;
}

.descripción{
    width:350px;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    color: #757575;
    margin-right:20px;
}
.descripción p {
    line-height: 24px;
}
.descripción a {
    text-decoration-line: none;
    color:#0496c9;
    line-height: 24px;
}
.descripción h3,h5 {
    color: black;
}
.article section{
    padding:10px;
}
h3 {
    position: relative;
    top: -25px;
}
.venta__directa{
    width:370px;
}
.venta{
    display: flex;
    justify-content:space-between;
    border: solid 1px grey;
    border-radius:4px;
    width:350px;
    height: 50px;
    align-items: center;
    padding:5px;
    font-size:13px;
    font-family:'Heebo', sans-serif ;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}
    

.precio__1{
    color: red;
}
.select{
     
    display: flex;
    justify-content:space-between;
    border: solid 1px grey;
    border-radius:4px;
    width:350px;
    height: 45px;
    align-items: center;
    padding:5px;
    font-size:13px;
    font-family:'Heebo', sans-serif ;
    margin-bottom: 20px;


}

select {
    border: none;
    outline: none;
    color: #757575;
    font-size:13px;
}

.botones {
    display: flex;
    justify-content: space-between;
    width:361.46px;

}

.yellow {
    border-radius:3px;
    background-color: #ffba08;
    color: white;
    height: 45px;
    font-size:14px;
    padding: 0 14px;
    width:165px;
}
.blue {
    border-radius:3px;
    background-color: #0496c9;;
    color: white;
    height: 45px;
    font-size:14px;
    padding: 0 14px;
    width:165px;

}

.entrega p {
    font-size:13px;
    line-height: 24px;
    padding-top: 2px;
}

.entrega li {
    color: #757575;
    font-size: 13px;
    padding: 5px 0 5px 0;
    line-height: 24px;
}