body{
    background-color: rgb(250, 247, 243);
    font-family:'Heebo', sans-serif ;
}
header {
    position:sticky;
    top: 0;
    z-index: 100000;
    padding:5px 0 0 0;
    background-color: #0e95c6;
    height:70px;

}

.nav {
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    
    
}
.nav-1{
    display: flex;
    background-color: #0e95c6;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 70px;
    font-size:13px;
    font-family:'Heebo', sans-serif ;
   

    


}


.submit{
    border: none;
    border-radius: 30px;
    height:30px;

}
.bar{
    color: white;

    border-right:#3aa6cd solid;
    padding: 20px;
   
}
.icon {
   position: relative;
   left: 10px;
   color: white;
   
}

.Logo{
    object-fit: contain;
    width: 188px;
    padding: 0 40px;
    position: relative;
    bottom: 8px;


}

.nav a {
    text-decoration:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size:10px;
    font-family:'Heebo', sans-serif ;
    height:35px;

}

.carrito{
    text-decoration:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size:10px;
    font-family:'Heebo', sans-serif ;
    height:35px;

}
i{
    font-size:20px ;
}


.buscador {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: white;
    border-radius:5px;
    width:60%;
}
input{
    position: relative;
    border: transparent;
    left: 5px;
    outline: none;
    width: 89%;
} 

button {
    background-color: transparent;
    border: transparent;
    z-index: 1;
   
}

.b-1{
    height:70vh;
}
a .carrito{
    display:none ; 
    


}

.barra__770px{
   margin:0 15px 0 15px ;
}
.barra__770px i {
    color: white;
}

/* barra__left*/
#nav__left {
    visibility:hidden;
    opacity: 0;
    transition:0.3s;
    transform: translateX(-100%);
    top:0;
    left:0;
    position:fixed;
    height:100vh;
    width:100vw;
    background: rgba(0, 0, 0, 0.4); /* Más transparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    
    
  

  



    z-index: 1000;
}
#nav__left.active {
    visibility:visible;
    opacity: 1;
    transform: translateX(0);

}

.nav__left-inside {
    width:310px;
    height:100vh;
    background-color: white;
    pointer-events: auto;
    
    
}

.nav__left-inside2{
    display: flex;
    height:80px;
    justify-content: space-between;
    background-color: #0e95c6;
    align-items: center;
}
.nav__left-inside2 i {
    color: white;
    font-size: 14PX;
    padding: 10px;
}
.logo_left{
    width: 150px;
    height: 36px;
    margin-left:20PX;
}


/*esta parte es el nav__righ*/
#nav__right{
    position:fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    z-index: 1000;
    visibility: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition:0.3s;
    transform: translateX(+100%);





}

#nav__right.active{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.nav__right-inside{
    background-color: #0e95c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 75px;
    color:white;
    font-size: 10px;
    font-family:'Heebo', sans-serif ;
    font-weight: 500;
    padding: 0 15px;


}
.x-2{
    color: white;
    
}
.x-2 i {
    font-size: 14px;
}

.vercarito{
    color: #0496c9;
    border: solid black 1px;
    font-family:'Heebo', sans-serif ;
    margin: 10px;
    
}
.pagoseguro{
    color: white;
    background-color: #0496c9;
    font-family:'Heebo', sans-serif ;
    margin: 10px;
}
.vacio{
    text-align: center;
    font-size: 13px;
    font-family:'Heebo', sans-serif ;
    margin: 10px;
 
}


/* esta parte es sobre el la busqueda*/
.buscador-1 {
    background-color: #f9f9f9;
    position: relative;
    margin: auto;
    width: 850px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    
}
.b-1{
    height:70vh;
}
/**/
article {
    margin:15px;
    background-color: #f9f9f9;
}
.section-1{
    display: flex;
    overflow-y:hidden;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom:20px;

 

}
.nav-1{
    font-size:13px;
    font-family:'Heebo', sans-serif ;
}
.article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px;
    background-color: white;
    

}
.sectión__1{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.foto {
  display:flex;
  flex-direction: column;
  width: 450px;
}

.azul {
    background-image:url(/imagenes/azul.PNG);
    display: flex;
    align-items: center;
    text-align: center;
    background-size: 160px 28px;
    background-repeat: no-repeat;
    width: 154px;
    height: 28px;
    font-size: 11px;
    color: white;
}
.azul__p{
    padding:4px 8px;
}
.rojo {
    background-image:url(/imagenes/rojo.PNG);
    display: flex;
    background-size: 139.35px 28px;
    background-repeat: no-repeat;
    width: 133.35px;
    height: 28px;
    font-size: 11px;
    color: white;
    align-items: center;
}

.rojo__p{
    padding:4px 8px;
    width: 128px;
    height:13px ;

}
.imgt__1 img{
    position: relative;
    left: 100px;
}

.descripción{
    width:350px;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    color: #757575;
    margin-right:20px;
}
.descripción p {
    line-height: 24px;
}
.descripción a {
    text-decoration-line: none;
    color:#0496c9;
    line-height: 24px;
}
.descripción h3,h5 {
    color: black;
}
.article section{
    padding:10px;
}
h3 {
    position: relative;
    top: -25px;
}
.venta__directa{
    width:370px;
}
.venta{
    display: flex;
    justify-content:space-between;
    border: solid 1px grey;
    border-radius:4px;
    width:350px;
    height: 50px;
    align-items: center;
    padding:5px;
    font-size:13px;
    font-family:'Heebo', sans-serif ;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}
    

.precio__1{
    color: red;
}
.select{
     
    display: flex;
    justify-content:space-between;
    border: solid 1px grey;
    border-radius:4px;
    width:350px;
    height: 45px;
    align-items: center;
    padding:5px;
    font-size:13px;
    font-family:'Heebo', sans-serif ;
    margin-bottom: 20px;


}

select {
    border: none;
    outline: none;
    color: #757575;
    font-size:13px;
}

.botones {
    display: flex;
    justify-content: space-between;
    width:361.46px;

}

.yellow {
    border-radius:3px;
    background-color: #ffba08;
    color: white;
    height: 45px;
    font-size:14px;
    padding: 0 14px;
    width:165px;
}
.blue {
    border-radius:3px;
    background-color: #0496c9;;
    color: white;
    height: 45px;
    font-size:14px;
    padding: 0 14px;
    width:165px;

}

.entrega p {
    font-size:13px;
    line-height: 24px;
    padding-top: 2px;
}

.entrega li {
    color: #757575;
    font-size: 13px;
    padding: 5px 0 5px 0;
    line-height: 24px;
}
#carrito {
    color: red;
}

.footer-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 45px 45px 0;
    background-color: white;

}
.footer__div{
    padding: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    color: #757575;

}
.footer__div h2{
    color: rgb(50, 48, 48);
    font-size: 13px;
}








@media screen and (max-width: 900px){

    .nav__parrafo{
        display: none;
    }
    .icon {
        top: 5px;
    }
    .Logo-1{
        display:block;
    }

    .buscador-1 {
        width: 280px;
        
    }
    
}

@media screen and (max-width: 770px){
    .nav-1{
        width: auto;
        margin:0 10px 0 10xp;
    }
    .nav-1 button {
        display: none;
    }
    .nav-1 a {
        display: none;
    }
     a .carrito {
        display: flex !important;
        position: relative;
        

    

     
    }
    .Logo{
        object-fit: contain;
        width: auto;
        padding: 0 ;
        position: relative;
        bottom: 0px;}
    
    
    .nav {
        display: inline;

    }
    .nav a {
        padding: 0;
        margin: 0;
        height: auto;
    }
    .barra__770px{
        display: flex;
        justify-content: space-between;
    }
    .bar{
        border:none;
        padding:0;
      
    }
    .buscador{
        width: 96%;
        margin:10px;
    }
    .barra__770px img{
        width:162px;
        height:42px;
      

    }
}